server:
  port: ${PORT:3000}
  error:
    include-message: always

management.endpoints.web.exposure.include: "*"

spring:
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5432/mybank}
    username: ${JDBC_DATABASE_USERNAME:postgres}
    password: ${JDBC_DATABASE_PASSWORD:postgres}
    initialize: true
    platform: postgresql
  jackson:
    property-naming-strategy: SNAKE_CASE

springdoc.swagger-ui.path: /swagger.html